/*
* {
    border: 1px solid red;
}
*/

//*********** vista mobile ***************


.form-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555764;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    //margin-top: -57%;
    margin-bottom: 30%;
    width: 100%;
    margin-top: -222%;
    margin-left: 11%;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(149,140,140,1) 100%);
    //background: linear-gradient(
        //50deg,
        //rgba(40,42,55,0.93) 50%,
        //rgba(40,42,55,0.5)
        //),
        
        //url(../../assets/img/ver/f05cbb79d0e0084310dd93ef88476d7c.jpg);
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    padding: 2px;
    width: 80%;
    border-radius: 25px;
    h2 {
        color: #F4F6F9;
        font-size: 30px;
        margin-bottom: 25px;
        margin-left: 2%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 7%;
    }
    label {
        font-size: 17px;
        color: #959AAB;
        margin-bottom: 10px;
    }
    input, textarea {
        padding: 17px 14px;
        background-color: #333646;
        border: 0;
        font-size: 15px;
        color: #F4F6F9;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    :focus {
        outline: 2px solid #1E92E9;
    }
    .btn {
        background-color: #1E92E9;
        width: 150px;
        align-self: flex-end;
        margin-top: 3%;
        cursor: pointer;
        :hover {
            background-color: #219BF9;
        }
    }
    p {
        color: #fff;
    }
}

//*********vista tablet***********//

@mixin tablet {
    @media(min-width: 768px) {
        @content
    }
}
@include tablet(){
    .form-content{
        margin-top: -152%;
    }
}



//*************VISTA DESKTOP*******//


@mixin desktop {
    @media (min-width: 1200px) {
        @content
    }
}
@include desktop() {
    .form-content {
        margin-top: -30%;
    }
}