//*************vista mobiles***************//

//*********caricatura*********//


.container__titlee--section2 {
    h3 {
        padding: 2px;
        color: bisque;
        margin-top: -310%;
        margin-bottom: 80%;
    }
}



//************VISTA TABLET*******

@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
} 
@include tablet { 
    .container__titlee--section2 {
        h3 {
            margin-top: -224%;
            margin-bottom: 50%;
        }
    }
}


//*****Vista Desktop*****//

@mixin desktop {
    @media (min-width: 1200px) {
        @content
    }
}
@include desktop { 
    .container__titlee--section2 {
        h3 {
            margin-top: -64%;
            margin-bottom: 40%;
        }
    }
}