//*************vista mobiles***************//

//*********caricatura*********//


.container__titlee--section2 {
    h3 {
        padding: 2px;
        background: rgb(250,230,208);
        background: linear-gradient(126deg, rgba(250,230,208,1) 0%, rgba(255,115,0,1) 100%); 
        background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        margin-top: -310%;
        margin-bottom: 80%;
        font-size: 50px;
    }
}



//************VISTA TABLET*******

@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
} 
@include tablet { 
    .container__titlee--section2 {
        h3 {
            margin-top: -224%;
            margin-bottom: 50%;
        }
    }
}


//*****Vista Desktop*****//

@mixin desktop {
    @media (min-width: 1200px) {
        @content
    }
}
@include desktop { 
    .container__titlee--section2 {
        h3 {
            margin-top: -70%;
            margin-bottom: 40%;
        }
    }
}